@import url('https://fonts.googleapis.com/css?family=Heebo&display=swap');


body{
  font-family: 'Heebo', sans-serif;
}

.quiz-form {
  display: block;
  position: center;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 50%
 
}

.user-name-input{
  display: flex;
  justify-content: space-around;
  margin: 5px;
  padding: 15px;
}

.relationship-input{
  margin: 5px;
  display: flex;
  justify-content: space-around;
  padding: 15px
}

.submit-button{
  display: block;
  background-color:#3f837f;
  padding: 10px;
  cursor: pointer;

}

.toggle-new-quiz{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
  display: block;
  position: center;
  background-color:#3f837f;
  font-size: 25px;
  color: white;
  cursor: pointer;
}

.question-container{
  display: flex;
  justify-content: space-evenly;
  position: center
}

.radio-button-container{
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
  margin-bottom: 20px
}

li{
  font-size: 25px;
  font-weight: bold;
}

.answer-button{
  width: 80%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 15px;
  box-sizing: border-box;
  background-color: #3f837f;
  font-size: 20px;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
  position: center
}

.question-input{
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #f1f1f1;
  color: #666;
  top: 10px;
  height: 30px;
  width: 30px;
  border: 0;
  border-radius: 50px;
  cursor: pointer;     
  margin-right: 7px;
  outline: none;
}

.question-input:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
}
.question-input:hover
{
     background-color: #f7f7f7;
}
.question-input:checked
{
     background-color: #cce9f4
}
label
{
     font: 15px/1.7 'Open Sans', sans-serif;
     color: #333;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     cursor: pointer;
} 

